body,
ul {
    margin: 0;
    padding: 0;
    background-color: #d2d2d2;
}

/* Header */

#menu {
    display: none;
}
.nav {
    color: black;
    list-style-type: none;
    background-color: #D4002A;
    padding: 15px;
}
.nav li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 70px;
    font-family: 'Poppins', 'Arial';
}
.nav li:last-child {
    margin-right: 0;
}
.nav li:first-child {
    margin-left: 10px;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all .1s ease-in-out;
}
.mobile-controls {
    display: flex;
    align-items: center;
}

/* Main */

.hero {
    position: relative;
    text-align: center;
    font-family: 'Poppins', 'Arial';
    font-size: 2rem;
    background-image: url("../images/road.jpg"); opacity: 0.7;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.heroText h2 {
    font-family: 'Gabarito', 'Poppins', 'Arial';
    font-size: 4rem;
    position: absolute;
    top: 20%;
    margin: 0;
    color: black;
    left: 50%;
    transform: translateX(-50%);
}
.heroText button{
    cursor: pointer;
    position: absolute;
    border: none;
    margin: 0 30%;
    width: 40%;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Gabarito', 'Poppins', 'Arial';
    top: 45%;
    padding: 10px;
    font-size: 2rem;
}
.heroText img {
    position: absolute;
    top: 30%;
    border-radius: 20px;
    width: 20%;
    left: 40%;
}

/* Rental Information */

#scroll {
    display: none;
}
.rental {
    background-color: #fff;
    margin: 0 10%;
    padding: 030px;
    border-radius: 20px;
}
.rental table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.rental td {
    font-family: 'Poppins', 'Arial';
    text-align: center; 
    border-bottom: 1px solid #ddd;
    border-right: solid 1px;
    padding: 10px
}
.rental th {
    font-family: 'Gabarito', 'Arial';
    font-weight: 600;
    border-bottom: solid 3px;
    border-right: solid 1px;
    padding:20px;
}
.reserveButton {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 30px 40%;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Gabarito', 'Arial';
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.319);
}

/* Summary */

.summary {
    text-align: center;
}
.social p {
    font-family: 'Gabarito', 'Poppins', 'Arial';
    font-size: 2rem;
    background-color: white;
    margin: 40px 30%;
    padding: 10px;
    border-radius: 20px;
}
.social img {
    width: 70px;
    border-radius:20px;
    margin: 0 30px;
    padding: 10px;
    background-color: white;
}
.call h3{
    text-align: center;
    background-color: white;
    margin: 30px 20%;
    font-size: 1.5rem;
    font-family: 'Poppins', 'Arial';
    padding: 30px;
    border-radius: 10px;
    box-shadow:  0 4px 6px #0000005e
}

/* Weather */

.weather {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: auto 1fr;
    grid-gap: 30px;
    margin: 100px;
}
.weather h3 {
    background-color: rgb(204, 204, 204);
    font-size: 1.5rem;
    margin: 40px 5%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Gabarito';
}
.weather p {
    font-family: 'Poppins', 'Arial';
}
.weatherDetails {
    background-color: white;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    justify-content: center;
    box-shadow:  0 4px 6px #0000005e;
}
#forecast {
    background-color: white;
    border-radius: 10px;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    box-shadow:  0 4px 6px #0000005e;
}
#forecast p:last-child {
    margin-bottom: 50px;
}
.closeable-message {
    background-color: #fc6055;
    color: white;
    font-size: 1rem;
    font-family: 'Gabarito', 'Arial';
    padding: 0;
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
.closebtn {
    background-color: red;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 10px;
}

/* Footer */

footer {
    background-color: #D4002A;
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: 'Poppins', 'Arial';
    padding: 5px;
    width: 100%;
}



/* Rent Page */

.rentalHeader {
    color: white;
    background-color: #D4002A;
    text-align: center;
    margin: 30px 40%;
    border-radius: 10px;
    font-family: 'Gabarito', 'Arial';
    box-shadow: 0 4px 6px #00000051;
}
#scooterSection {
    background-color: white;
    margin: 0 10%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
#scooterSection h3 {
    background-color:#767676;
    padding: 10px;
    margin: 10px 35%;
    border-radius: 8px;
    font-family: 'Gabarito', 'Arial';
    color: white;
}
#scooterSection p {
    font-family: 'Poppins', 'Arial';
    font-size: 1.2rem
}
#scooterSection div {
    border-bottom: solid 1px black;
}
#scooterSection div:last-child {
    border-bottom: none;
}

/* atv section */

#atvSection {
    background-color: white;
    margin: 50px 10%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
#atvSection h3 {
    background-color:#767676;
    padding: 10px;
    margin: 10px 35%;
    border-radius: 8px;
    font-family: 'Gabarito', 'Arial';
    color: white;
}
#atvSection p {
    font-family: 'Poppins', 'Arial';
    font-size: 1.2rem
}
#atvSection div {
    border-bottom: solid 1px black;
}
#atvSection div:last-child {
    border-bottom: none;
}

/* car section */

#carSection {
    background-color: white;
    margin: 50px 10%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
#carSection h3 {
    background-color:#767676;
    padding: 10px;
    margin: 10px 35%;
    border-radius: 8px;
    font-family: 'Gabarito', 'Arial';
    color: white;
}
#carSection p {
    font-family: 'Poppins', 'Arial';
    font-size: 1.2rem
}
#carSection div {
    border-bottom: solid 1px black;
}
#carSection div:last-child {
    border-bottom: none;
}