body,
ul {
    margin: 0;
    padding: 0;
    background-color: #d2d2d2;
}

/* Header */

#menu {
    display: none;
}
.nav {
    color: black;
    list-style-type: none;
    background-color: #D4002A;
    padding: 15px;
}
.nav li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 70px;
    font-family: 'Poppins', 'Arial';
}
.nav li:last-child {
    margin-right: 0;
}
.nav li:first-child {
    margin-left: 10px;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all .1s ease-in-out;
}
.mobile-controls {
    display: flex;
    align-items: center;
}

/* Main */

.hero {
    position: relative;
    text-align: center;
    font-family: 'Poppins', 'Arial';
    font-size: 2rem;
    background-image: url("../images/road.jpg"); opacity: 0.7;
    background-size: cover;
    background-position: center;
    height: 400px;
}
.heroText h2 {
    font-family: 'Gabarito', 'Poppins', 'Arial';
    font-size: 4rem;
    position: absolute;
    top: 20%;
    margin: 0;
    color: black;
    left: 50%;
    transform: translateX(-50%);
}
.heroText button{
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    color: white;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 50px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.254);
    box-sizing: border-box;
    font-family: 'Gabarito', 'Poppins', 'Arial';
}
.heroText img {
    position: absolute;
    top: 30%;
    border-radius: 20px;
    width: 20%;
    left: 40%;
}

/* Rental Information */

#scroll {
    display: none;
}
.rental {
    background-color: #fff;
    margin: 0 10%;
    padding: 030px;
    border-radius: 20px;
}
.rental table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.rental td {
    font-family: 'Poppins', 'Arial';
    text-align: center; 
    border-bottom: 1px solid #000000;
    border-right: solid 1px;
    border-left: solid 1px;
    padding: 10px;
}
.rental th {
    font-family: 'Gabarito', 'Arial';
    font-weight: 600;
    border-bottom: solid 3px;
    padding:20px;
}
.reserveButton {
    display: block;
    text-align: center;
    padding: 20px;
    margin: 30px 40%;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Gabarito', 'Arial';
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.319);
}

/* Summary */

.summary {
    text-align: center;
}
.social p {
    font-family: 'Gabarito', 'Poppins', 'Arial';
    font-size: 2rem;
    background-color: white;
    margin: 40px 30%;
    padding: 10px;
    border-radius: 20px;
}
.social img {
    width: 70px;
    border-radius:20px;
    margin: 0 30px;
    padding: 10px;
    background-color: white;
}
.call h3{
    text-align: center;
    background-color: white;
    margin: 30px 20%;
    font-size: 1.5rem;
    font-family: 'Poppins', 'Arial';
    padding: 30px;
    border-radius: 10px;
    box-shadow:  0 4px 6px #0000005e
}

/* Weather */

.weather {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: auto 1fr;
    grid-gap: 30px;
    margin: 100px;
}
.weather h3 {
    background-color: #cccccc;
    font-size: 1.5rem;
    margin: 40px 5%;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Gabarito';
}
.weather p {
    font-family: 'Poppins', 'Arial';
}
.weatherDetails {
    background-color: white;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    justify-content: center;
    box-shadow:  0 4px 6px #0000005e;
}
#forecast {
    background-color: white;
    border-radius: 10px;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    box-shadow:  0 4px 6px #0000005e;
}
#forecast p:last-child {
    margin-bottom: 50px;
}
.closeable-message {
    background-color: #fc6055;
    color: white;
    font-size: 1rem;
    font-family: 'Gabarito', 'Arial';
    padding: 0;
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
.closebtn {
    background-color: red;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 10px;
}
.closebtn:hover {
    background-color: #ce0000;
}

/* Footer */

footer {
    background-color: #D4002A;
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: 'Poppins', 'Arial';
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}



/* Rent Page */

.rentalHeader {
    color: white;
    background-color: #D4002A;
    text-align: center;
    margin: 30px 40%;
    border-radius: 10px;
    font-family: 'Gabarito', 'Arial';
    box-shadow: 0 4px 6px #00000051;
}
#scooterSection,
#atvSection,
#carSection {
    background-color: white;
    margin: 0 10%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}
#scooterSection h3,
#atvSection h3,
#carSection h3 {
    background-color:#767676;
    padding: 10px;
    margin: 10px 35%;
    border-radius: 8px;
    font-family: 'Gabarito', 'Arial';
    color: white;
}
#scooterSection p,
#atvSection p,
#carSection {
    font-family: 'Poppins', 'Arial';
    font-size: 1.2rem
}
#scooterSection div,
#atvSection div,
#carSection div {
    border-bottom: solid 1px black;
}
#scooterSection div:last-child,
#atvSection div:last-child,
#carSection div:last-child {
    border-bottom: none;
}

/* Reserve page Form */

.reserveMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0
  }
  .reservation-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000003e;
    margin: 0 30%;
    width: 100%;
  }
  
  .reservation-form h1 {
    background-color: #D4002A;
    color: white;
    text-align: center;
    margin: 20px 20%;
    padding: 10px;
    font-family: 'Gabarito', 'Arial';
    border-radius: 10px;
  }
  
  .reservation-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .reservation-form input[type="date"],
  .reservation-form input[type="text"],
  .reservation-form input[type="email"],
  .reservation-form input[type="number"],
  .reservation-form select,
  .reservation-form button {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .reservation-form input:required:invalid,
  .reservation-form select:required:invalid {
    border-color: red;
    font-family: 'Poppins';
  }
  
  .reservation-form input:required:valid,
  .reservation-form select:required:valid {
    border-color: green;
  }
  
  .reservation-form button {
    background-color: red;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reservation-form button:hover {
    background-color: #980000;
  }
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    width: 40%;
    height: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.558);
  }
  .modal-content {
    text-align: center;
    font-family: 'Gabarito';
    font-size: 1.5rem;
  }
  .modal-content button {
    background-color: white;
    border: none;
    width: 70%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.27);
    cursor: pointer;
  }