body {
    background-color: #BFBFBF;
}
.navigation {
    background: #fff;
    margin-top: 0;
    margin-right: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 30px;
}
.navigation a {
    text-decoration: none;
    color: #002d5e;
}
.navigation li {
    display: inline;
    padding: 30px;
    font-size: 1.5em;
    font-family: "Gabarito", "Ariel";
}
.navigation li a:hover {
    text-decoration: underline;
}
.sacci img {
    position: fixed; 
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 30px;
    transition: all .2s ease-in-out;
}
.sacci img:hover {
    transform: scale(1.1)
}
.hero {
    padding-top: 100px;
}
#bottom-nav a{
    text-decoration: none;
}
footer {
    font-family: 'Montserrat', 'Ariel';
    text-align: center;
    background-color: white;
    width: 100%;
}
.hero, .cta, .ce, .weather, .spotlights {
    font-family: 'Montserrat', 'Ariel';
    margin-bottom: 10px;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: white;
    border-radius: 8px;
    padding-top: 0;
    margin-top: 70px;
}
#kloof {
    border-radius: 8px;
    width: 100%;
    grid-column: 2;
    grid-row: 1 /span 2;
}
#info {
    grid-column: 1;
    grid-row: 1;
    font-size: 3rem;
    text-align: center;
}
.joinButton img {
    margin-top: 60px;
    margin-left: 190px;
    border-radius: 30px;
    grid-column: 1;
    grid-row: 2;
    width: 300px;
}