body {
    background-color: #BFBFBF;
}
.navigation {
    background: #fff;
    margin-top: 0;
    margin-right: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 30px;
}
.navigation a {
    text-decoration: none;
    color: #002d5e;
}
.navigation li {
    display: inline;
    padding: 30px;
    font-size: 1.5em;
    font-family: "Gabarito", "Ariel";
}
.navigation li a:hover {
    text-decoration: underline;
}
.sacci img {
    position: absolute; 
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.sacci img:hover {
    transform: scale(1.1)
}
.hero {
    padding-top: 100px;
}
#bottom-nav a{
    text-decoration: none;
}
footer {
    position: relative;
    font-family: 'Montserrat', 'Ariel';
    text-align: center;
    background-color: white;
    width: 100%;
}
.hero, .cta, .ce, .weather, .spotlights {
    font-family: 'Montserrat', 'Ariel';
    margin-bottom: 10px;
}
.hero {
    margin-top: 4%;
    margin-right: 1%;
    margin-left: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: white;
    border-radius: 8px;
    padding-top: 0;

}
#kloof {
    border-radius: 8px;
    width: 100%;
    height: auto;
    grid-column: 3/ span 4;
    grid-row: 1/ span 2;
}
header {
    grid-column: 1/ span 2;
    text-align: center;
    grid-row: 1;
    font-size: 1.5rem;
    font-family: 'Gabarito', 'Arial';
}
#join {
    text-decoration: none;
    border-radius: 15px;
    font-size: 30px;
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #002d5e;
    color: white;
    text-align: center;
    padding: 5%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smaller {
    background-color: white;
    text-align: center;
    margin: 0 5%;
    border-radius: 12px;
    font-family: 'Montserrat';
}
.smaller h3 {
    padding: 10px
}
.bottom-nav {
    display: grid;
    grid-template-columns: auto 1fr;
}
#contact {
    grid-column: 1;
    margin: 20px;
}
#date {
    grid-column: 2;
    text-align: right;
    padding-right: 20px;
}
.mobile-controls {
    display: flex;
    align-items: center;
}
.dark-mode-button {
    z-index: 999;
    position: absolute;
    font-family: 'Gabarito', 'Arial';
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 250px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}