body.dark-mode {
    background-color: black;
}
body.dark-mode .navigation {
    background-color: #242424;
}
body.dark-mode .navigation a {
    color: white;
}
body.dark-mode .sacci img {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
body.dark-mode .hero {
    background-color: #111111;
    color: white;
}
body.dark-mode .darkmode button {
    background-color: white;
    color: black;
}
body.dark-mode .smaller {
    background-color: #111111;
    color: white;
}
body.dark-mode footer {
    background-color: #111111;
    color: white;
}
body.dark-mode .dark-mode-button {
    color: black;
    background-color: white;
}