@media (min-width: 1500px) {
    .hero .welcome {
        margin-top: 80px;
        font-size: 3rem;
    }
    picture {
        background-color: red;
    }
    .hero h1 {
        font-size: 4rem;
        margin: 100px 100px 50px 100px;
    }
    .navigation a {
        text-decoration: none;
        color: #002d5e;
        font-size: 2rem;
    }
    .navigation li {
        display: inline;
        padding: 30px;
        font-size: 1.5rem;
        font-family: "Gabarito", "Ariel";
    }
    .dark-mode-button {
        margin-top: 15px;
        height: 70px;
    }
    #sacci img {
        width: 50px;
        margin-top: 15px;
        margin-right: 130px;
    }
    #banner {
        margin-top: 60px;
        font-size: 1.5rem;
    }
    #join {
        font-size: 3em;
    }
    .fyi h3 {
        font-size: 2.5rem;
    }
    .fyi p {
        font-size: 1.5rem;
        margin: 30px;
    }

    /* Directory */

    .toggle-buttons {
        margin-top: 80px;
    }
    .toggle-buttons button {
        padding: 50px;
        width: 400px;
        font-size: 2rem;
    }
    .fyi p {
        font-size: 1.5rem
    }
    .smaller p {
        font-size: 2rem;
    }

    /* join page */

    .joinHeader {
        background-color: #002d5e;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin: 150px 25% 0;
        font-size: 3rem;
        text-align: center;
    }
    label {
        font-size: 1.5rem;
    }
    .button {
        width: 50%;
        margin-left: 25%;
        font-size: 1.4rem;
    }
    .thanks {
        background-color: white;
        font-size: 3rem;
        padding: 80px;
        border-radius: 20px;
        margin-bottom: 100px;
    }
    .home {
        font-size: 8rem;
    }

    /* Discover */

    .discover {
        margin-top: 50px;
    }
    .sidebar h1{
        font-size: 3rem;
    }
    .sidebar p {
        font-size: 2.5rem;
    }
    .sidebar2 h1{
        font-size: 3rem;
    }
    .sidebar2 p {
        font-size: 2.5rem;
    }
    #membersContainer {
        width: 60%;
        margin-left: 20%;
    }
    .grid-view .member-card {
        border-radius: 8px;
        width: 100%; 
        max-width: 31.09%; 
        height: 450px;
        display: inline-block;
        margin: 10px;
        vertical-align: top;
        overflow: auto; 
    }
    .list-view .member-card {
        width: 50%;
    }

    /* dark mode toggle */

    .switch {
        position: fixed;
        display: inline-block;
        width: 100px;
        height: 60px;
        z-index: 999;
        top: 0;
        right: 0;
        margin: 15px 20px;
    }
    .slider:before {
        line-height: 55px;
        font-size: 2rem;
        position: absolute;
        content: "☀️";
        height: 52px;
        width: 52px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: .2s
    }
    input:checked + .slider:before {
        background-color: black;
        content: "✨"; 
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        transform: translateX(40px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}