@media (min-width: 900px) {    
    .heroImg {
        border-radius: 20px;
    }
    .hero {
        border-radius: 20px;
        margin-top: 90px;
    }
    .smaller {
        border-radius: 20px;
    }   
    .weather {
        border-radius: 20px;
    }
    .current {
        border-radius: 20px;
    }
    main {
        margin-top: 60px
    }
}