@media (min-width: 200px) {
    .mobile-logo {
        display: flex;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0%;
        padding-top: 15px;
        padding-left: 15px;
    }
    .navigation {
        z-index: 998;
        width: 85%;
        padding-bottom: 50px;
        position: absolute;
    }
    .navigation a {
        font-size: 1.5rem;
    }
    .navigation li {
        display: none;
        z-index: 999;
    }
    #info {
        z-index: 1;
    }
    #menu {
        display:block;
        font-size: 2rem;
        z-index: 999;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 8px;;
        margin-top: 10px;
        margin-right: 7px;
        width: 90px;
        height: 60px;
        background-color: #002d5e;
        color: white;
    }
    #menu::before {
        content: "≡";
        font-weight: 600;
    }
    .show li {
        z-index: 999;
        display: block;
        text-align: left;
        padding-top: 50px;
    }
    #menu.show::before {
        content: 'X';
        font-family: "Gabarito", 'Arial';
        font-weight: lighter;
    }
    .sacci {
        display: none;
    }
    .hero {
        padding-top: 20px;
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }
    picture {
        grid-column: 1/ span 2;
        grid-row: 1;
        position: relative;
        padding-bottom: 5%;
    }
    #fallback {
        grid-column: 1/ span 2;
        grid-row: 1;
        position: relative;
        padding-bottom: 5%;
    }
    header {
        margin-top: 20%;
        margin-right: 2%;
        margin-left: 2%;
        font-family: 'Gabarito', 'Arial';
        border-radius: 20px;
        z-index: 2;
        background-color: #002d5edf;
        color: white;
        grid-column: 1/ span 2;
        font-size: 1rem;
        display: flex; 
        justify-content: center; 
        align-items: center;
        height: 50%; 
    }
    .join {
        grid-row: 2;
        padding: 20px 0;
    }
    .smaller {
        background-color: white;
        text-align: center;
        margin: 10px;
        border-radius: 12px;
        font-family: 'Montserrat', 'Arial';
    }
    .smaller h3 {
        padding: 10px;
    }
    .footer {
        width: 100%;
        bottom: 0;
        padding: 20px;
        margin: 0;
    }
    .mobile-controls {
        display: flex;
        align-items: center;
    }
    .dark-mode-button {
        z-index: 999;
        position: absolute;
        font-family: 'Gabarito', 'Arial';
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 100px;
        width: 90px;
        height: 60px;
        background-color: #002d5e;
        color: white;
        border-radius: 8px;
    }
    .fyi {
        font-family: 'Montserrat', 'Arial';
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        padding-left: 20px;
    }
    .smaller {
        margin: 0;
        grid-column: 1/ span 4;
        grid-row: 1;
        background-color: white;
        text-align: center;
        border-radius: 8px;
    }
    .smaller p {
        text-align: center;
    }
    .weather {
        grid-column: 1/ span 2;
        grid-row: 2;
        margin: 0;
    }
    .current {
        grid-column: 3/ span 4;
        grid-row: 2;
        height: 100%;
    }
    .footer-content{
        padding-left: 50px;
    }
    .footer-logo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .footer-logo {
        grid-column: 1;
        grid-row: 1;
    }
    .contact-info {
        grid-column: 1;
        grid-row: 2;
    } 

    /* Discover Page */

    .discover {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto)
    }
    .sidebar {
        grid-column: 1;
        grid-row: 1;
    }
    .rightbar {
        grid-column: 1; 
        grid-row: 4;
        display: grid;
    }
    .rightbar img {
        grid-column: 1/ span 2;
    }
    .rightbar img:hover {
        transform: none;
    }
}