@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #bfbfbf;
    color: #333;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
header {
    background-color: #838383;
    color: white;
    text-align: center;
    padding: 20px 0;
    padding-top: 100px;
    grid-row: 1;
    grid-column: 1;
}
#portrait {
    max-width: 250px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
#name {
    font-size: 24px;
    font-family: "Poppins", Arial, sans-serif;
}
.navigation {
    background: #002d5e;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 40px;
}
.navigation a {
    text-decoration: none;
    color: white;
}
.navigation li {
    display: inline;
    padding: 30px;
    font-size: 1.5em;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    grid-row: 2;
    grid-column: 1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", Arial, sans-serif;
}
h2#wdd {
    font-size: 28px;
    margin-bottom: 20px;
}
#card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}
.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
footer {
    background-color: #002d5e;
    color: white;
    text-align: center;
    padding: 10px;
    grid-row: 3;
    grid-column: 1;
}

/* Mobile view */

@media(max-width: 800px) {

    .navigation {
        background: #002d5e;
        margin-top: 0;
        top: 0;
        padding: 40px;
    }
    .navigation a {
        font-size: 1.5rem;
    }
    .navigation li {
        display: none;
    }
    #menu::before {
        content: "≡";
    }
    #menu {
        margin-top: 10px;
        margin-right: 10px;
        z-index: 1;
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        font-size: 2rem;
        text-decoration: none;
    }
    .show li {
        display: block;
        text-align: left;
    }
    #menu.show::before {
        content: 'X'
    }
}